/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    --hue-color: 193;

    /* MODE COULEUR */
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    /* FONT */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* MARGIN */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* Z INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* HOVER PLAY */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

.about__img-two {
    width: 230px;
}

.contact__data {
    margin-right: 6rem;
}

.product-name {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.product-price {
    font-size: 4em;
    font-weight: 900;
    color: var(--first-color);
}

.product-slogan {
    margin-top: 1rem;
}

.preferences {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 2em;
}

.qty {
    width: 70px;
    padding: 2px 0 2px 20px;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid var(--first-color);
    cursor: pointer;
}

.taille {
    width: 70px;
    padding: 2px 0 2px 20px;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 700;
    border: 2px solid var(--first-color);
    cursor: pointer;
    margin-right: 1rem;
}

.btn-choix {
    display: flex;
    justify-content: center;
}
.btn-ret-aj {
    margin-top: 4rem;
    margin-right: 1rem;
}